* {
  margin: 0;
  padding: 0;
}

.chance .wrapper_chance .left button, .why button, .catalog .wrapper .block button, .why .wrapper .block button, .bestCoffee .left button, .head .previe button {
  background: rgb(249, 192, 106);
  -webkit-box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
          box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  font: 700 16px Playfair Display;
  padding: 14px 26px;
  border-radius: 24px;
  border: 1px solid rgba(249, 192, 106, 0.42);
}

.revie .wrapper .block .center h6, .revie p, .why .block p, .catalog p, .why p, .bestCoffee .left p {
  font: 400 20px Playfair Display;
}

.revie .wrapper .block .center h5, .revie h2, .catalog h2, .why h2, .bestCoffee .left h3 {
  color: rgb(96, 56, 9);
  font: 700 54px Playfair Display;
}

.head {
  background-image: url(../images/coffee_image.png);
  width: 100%;
  background-size: cover;
}
.head .wrapper_head {
  max-width: 1366px;
  margin: auto;
}
.head header {
  padding: 21px 73px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.head header .title p {
  font: 400 35px Clicker Script;
  color: rgb(255, 255, 255);
}
.head header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head header .sing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head header .links p, .head header .sing p {
  font: 500 14px Playfair Display;
  color: rgb(255, 255, 255);
}
.head header .sing p:first-of-type {
  text-decoration: underline;
}
.head header .sing p:last-of-type {
  color: rgb(30, 30, 30);
  background: rgb(249, 192, 106);
  border-radius: 24px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
          box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  padding: 14px 27px;
}
.head .previe {
  padding: 21px 73px 0;
  margin-top: 116px;
}
.head .previe:not(button) {
  color: rgb(255, 255, 255);
}
.head .previe p:first-of-type {
  font: 500 22px Playfair Display;
}
.head .previe h1 {
  font: 400 220px Clicker Script;
  margin: 70px 0;
}
.head .previe p:last-of-type {
  font: 400 20px Playfair Display;
  width: 527px;
}
.head .previe button {
  margin-top: 20px;
  margin-bottom: 95px;
}

.bestCoffee {
  padding: 82px 93px;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #FFFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bestCoffee .left {
  width: 585px;
  margin-top: 68px;
}
.bestCoffee .left p {
  color: rgb(112, 112, 112);
  margin: 29px 0;
}
.catalog, .why {
  text-align: center;
  margin: 0 auto;
  max-width: 1180px;
}
.catalog p, .why p {
  color: rgb(112, 112, 112);
}
.catalog .wrapper, .why .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 32px;
}
.catalog .wrapper .block, .why .wrapper .block {
  background: rgb(255, 249, 241);
  border: 1px solid rgba(249, 192, 106, 0.42);
}
.catalog .wrapper .block h4, .why .wrapper .block h4 {
  font: 700 22px Playfair Display;
  color: rgb(96, 56, 9);
  margin-top: 14px;
}
.catalog .wrapper .block p, .why .wrapper .block p {
  font: 400 16px Playfair Display;
  color: rgb(30, 30, 30);
  margin: 6px 0;
}
.catalog .wrapper .block button, .why .wrapper .block button {
  position: relative;
  top: 18px;
}

.why {
  margin-top: 82px;
}
.why .block {
  padding: 36px 40px;
}
.why .block p {
  color: rgb(112, 112, 112);
}
.why p:last-of-type {
  margin-top: 32px;
}
.why h2:last-of-type {
  font-size: 20px;
  margin-top: 20px;
}
.why button {
  margin-top: 24px;
}

.chance {
  background-image: url(../images/Group\ 38.png);
  width: 100%;
  background-size: cover;
  margin-top: 82px;
}
.chance .wrapper_chance {
  max-width: 1366px;
  padding: 53px 93px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.chance .wrapper_chance .left {
  max-width: 575px;
  margin-top: 81px;
}
.chance .wrapper_chance .left h2 {
  font: 700 54px Playfair Display;
  color: rgb(255, 255, 255);
}
.chance .wrapper_chance .left p {
  font: 400 20px Playfair Display;
  margin: 22px 0;
  color: rgb(255, 255, 255);
}
.revie {
  padding: 82px 152px;
  max-width: 1366px;
  margin: 0 auto;
  background-color: #FFFEFC;
  text-align: center;
}
.revie p {
  color: rgb(112, 112, 112);
  margin: 16px 0 45px;
}
.revie .wrapper {
  background: rgb(255, 249, 241);
  border: 1px solid rgba(249, 192, 106, 0.42);
  padding: 30px 24px;
}
.revie .wrapper h4 {
  color: rgb(96, 56, 9);
  font: 700 220px Playfair Display;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
}
.revie .wrapper .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.revie .wrapper .block .left, .revie .wrapper .block .right {
  position: relative;
  right: 65px;
  background: rgb(249, 192, 106);
  -webkit-box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
          box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  border-radius: 16px;
  width: 82px;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.revie .wrapper .block .left img, .revie .wrapper .block .right img {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.revie .wrapper .block .right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  left: 65px;
}
.revie .wrapper .block .arrow {
  display: none;
}
.revie .wrapper .block .center {
  margin-top: -70px;
  max-width: 780px;
}
.revie .wrapper .block .center p {
  font: 600 18px Playfair Display;
  color: rgb(112, 112, 112);
}
.revie .wrapper .block .center h5 {
  font-size: 32px;
}
.revie .wrapper .block .center h6 {
  color: rgb(112, 112, 112);
  margin-bottom: -80px;
}
.revie .wrapper .block .center img {
  position: relative;
  top: 105px;
  border-radius: 16px;
}

footer {
  color: rgb(255, 255, 255);
}
footer .block1 {
  width: 100%;
}
footer .block1 .wrapper_footer img {
  width: 100%;
  margin-bottom: -10px;
}
footer .block2 {
  background-image: url(../images/footer_image.png);
  width: 100%;
  background-size: cover;
}
footer .block2 .wrapper_footer {
  max-width: 1366px;
  margin: auto;
  padding: 162px 93px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 66px;
}
footer .block2 .wrapper_footer .block_left {
  max-width: 380px;
}
footer .block2 .wrapper_footer .block_left h2 {
  font: 400 54px Clicker Script;
}
footer .block2 .wrapper_footer .block_left p {
  font: 400 14px Playfair Display;
  margin: 20px 0 40px;
}
footer .block2 .wrapper_footer .block {
  max-width: 136px;
}
footer .block2 .wrapper_footer .block h3 {
  font: 700 26px Playfair Display;
  margin-bottom: 55px;
}
footer .block2 .wrapper_footer .block p {
  font: 400 18px Playfair Display;
  margin-bottom: 20px;
}
footer .block2 .wrapper_footer .block:last-of-type {
  max-width: 332px;
}

@media screen and (max-width: 1220px) {
  .catalog .wrapper, .why .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 30px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
  .catalog .wrapper > *:nth-child(1), .why .wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .catalog .wrapper > *:nth-child(2), .why .wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .catalog .wrapper > *:nth-child(3), .why .wrapper > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .catalog .wrapper > *:nth-child(4), .why .wrapper > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .revie .wrapper .block .left, .revie .wrapper .block .right {
    display: none;
  }
  .revie .wrapper .block .center {
    margin: 0 auto;
  }
  .revie .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin: 80px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .revie .arrow img:last-of-type {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media screen and (max-width: 1038px) {
  .head .wrapper_head header .links, .head .wrapper_head header .sing {
    display: none;
  }
  .bestCoffee .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bestCoffee .right img {
    width: 200px;
    height: 200px;
  }
  .chance .wrapper_chance .left h2 {
    font-size: 20px;
  }
  .chance .wrapper_chance .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chance .wrapper_chance .right img {
    width: 200px;
  }
  footer .block1 {
    display: none;
  }
  footer .block2 .wrapper_footer {
    display: block;
  }
  footer .block2 .wrapper_footer .block_left {
    margin-bottom: 30px;
  }
  footer .block2 .wrapper_footer .block_left h2 {
    margin-top: -20px;
  }
  footer .block2 .wrapper_footer .block_left p {
    display: none;
  }
  footer .block2 .wrapper_footer .block p {
    display: none;
  }
}
@media screen and (max-width: 836px) {
  .head .wrapper_head header {
    padding: 20px;
    text-align: center;
  }
  .head .wrapper_head .previe {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
  }
  .head .wrapper_head .previe h1 {
    font-size: 100px;
  }
  .head .wrapper_head .previe p {
    font-size: 17px;
    width: auto;
  }
  .bestCoffee {
    padding: 20px;
  }
  .bestCoffee .left {
    margin-top: 0;
  }
  .bestCoffee .left h3 {
    font-size: 38px;
  }
  .bestCoffee .left p {
    font-size: 17px;
  }
  .catalog h2, .why h2 {
    font-size: 38px;
  }
  .catalog p, .why p {
    font-size: 17px;
  }
  .catalog .wrapper, .why .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .chance .wrapper_chance {
    padding: 20px;
  }
  .chance .wrapper_chance .left {
    margin-top: 30px;
  }
  .revie {
    padding: 20px;
  }
  .revie h2 {
    font-size: 38px;
  }
  .revie p {
    font-size: 17px;
  }
  footer .block2 .wrapper_footer {
    padding: 20px;
  }
}
@media screen and (max-width: 460px) {
  .bestCoffee .left h3 {
    font-size: 20px;
  }
  .bestCoffee .left p {
    font-size: 12px;
  }
  .chance .wrapper_chance .right img {
    width: 100px;
  }
  .revie .wrapper .block .center p {
    font-size: 17px;
  }
}